@import '../variables.scss';

.task-detail-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: $borderRadiusV1;
  box-shadow: $boxShadowV1;
  padding: 56px;

  .task-item {
    padding-left: 0;
    border-bottom: 0;

    .task-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;

      h2 {
        margin-bottom: 0;
      }
    }

    .task-meta-table {
      color: $colorGreyV2;
      color: #C7C7C7;
      padding: 16px 0;
      display: block;
      font-size: 13px;

      tr {
        padding-top: 1px;
        padding-bottom: 1px;
        display: block;
      }

      th {
        font-weight: 500;
        min-width: 75px;

        svg {
          display: inline-block;
          margin-right: 4px;
          margin-bottom: 1px;
          width: 13px;
          height: 13px;
        }
      }

      td {
        font-weight: 400;
        padding-left: 16px;
      }

      .tag-item {
        background-color: orange;
        color: #fff;
        padding: 3px 8px;
        border-radius: 6px;
        margin-right: 8px;
        font-size: 12px;
      }
    }

    .task-description {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .task-actions {
      display: flex;
      justify-content: space-between;

      span {
        display: block;
        text-decoration: underline;
        cursor: pointer;
        font-size: 20px;
        margin: 0 5px;
        padding: 0 5px;
        color: $colorGreyV2;
        transition: color .25s ease-in-out;

        

        &.link-edit-task {
          a {
            transition: color .25s ease-in-out;
            color: $colorGreyV2;
            font-size: 18px;
          }
          &:hover a {
            color: orange;
            &:hover {
              color: orange;
            }
          }
        }

        &.link-complete-task {
          &:hover {
            color: green;
          }
        }

        &.link-remove-task {

          &:hover {
            color: red;
          }
        }
      }
    }

    
  }
}