@import '../variables.scss';

header {
  min-height: $headerHeightMobile;
  background-color: #222;
  color: #fff;
  padding: 0 15px;
  @media (min-width: $breakpoint-lg) {
    min-height: $headerHeight;
  }

  .inner-header {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
  }

  .logo {
    max-height: $headerLogoHeightMobile;
    width: auto;

    @media (min-width: $breakpoint-lg) {
      max-height: $headerLogoHeight;
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      
      li {
        @media (min-width: $breakpoint-lg) {
          margin: 0 10px;
        }
        
        a {
          padding: 5px;
          color: #fff;
          text-decoration: none;

          &.active {
            text-decoration: underline;
          }

          &.btn {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
