// Colors
$primaryColor: #FEC82E;

// Dismensions
$headerHeight: 80px;
$headerHeightMobile: 50px;
$headerLogoHeight: 60px;
$headerLogoHeightMobile: 40px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 993px;
$breakpoint-xl: 1200px;

// Fonts
$fontBodySize: 16px;