// Colors
$primaryColor: #FEC82E;
$secondaryColor: #DD4E24;

$colorBlackV1: #222222;

$colorGreyV1: #8B828F;
$colorGreyV2: #C7C7C7;

// Dismensions
$headerHeight: 80px;
$headerHeightMobile: 50px;
$headerLogoHeight: 60px;
$headerLogoHeightMobile: 40px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 993px;
$breakpoint-xl: 1200px;

// Fonts
$fontBodySize: 16px;

// Box shadows
$boxShadowV1: 0 5px 20px rgb(0 0 0 / 5%);

// Border radiuses
$borderRadiusV1: 8px;